.authbody {
  height:100vh;
  /* display:flex; */
  /* margin-top: 10em; */
  /* flex-direction: column;
    justify-content: center;
  align-items: center;
  overflow: scroll; */
}
.authbody h2 {
  font-family: 'nunitobold';
}
.authcont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin:auto;
  gap: 0.6em;
  margin-top: 7em;
}
.auth-input{
  width: 100%;
  border: 1px solid rgba(10,10,10,0.4);
  outline-color: transparent;
  padding:14px;
  margin: 7px;
  background-color: #ffffff;
  border-radius: 7px;
  font-size: 15px;
}

.showpassword{
  text-align: right;
  flex: content;
  float: right;
}
.auth-trigger {
  width: 100%;
  border: none;
  outline:none;
  padding:15px;
  background-color:  #2AFFE2;
  color: rgba(10,10,10,0.7);
  border:1px solid rgba(10,10,10,0.7);
  border-radius: 7px;
  font-weight: 700;
  font-family: 'nunitobold';
}

.auth-continuewith {
  font-weight:600;
  color:rgba(10,10,10,0.7);
  display:flex;
  flex-direction: row;
  /* justify-content: center; */
  gap: 0.4em;
  justify-content: space-between;
  border: 1px solid rgba(10,10,10,0.4);
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
  align-items: center;
}
.auth-trigger:hover{
  color: white;
}
.auth-continuewith:hover {
  background-color:  #2AFFE2;
  color: rgba(10,10,10,0.7);
  border:1px solid rgba(10,10,10,0.7);
}

.acw-t {
  width: 50%;
  text-align: center;
  /* background-color: red; */
}
.acw-l {
  width: 25%;
  /* background-color: red; */
  display:flex;
  /* flex-direction: ; */
  justify-content: center;
  align-items: center;
}
.already-h-a-n {
  cursor:pointer; 
  font-weight:600;
  color: rgba(10,10,10,0.7);
  text-decoration: dashed;
  padding: 0.51rem;
  margin: .5rem;
  transition: all 0.5s ease-in-out;

}
.already-h-a-n:hover {
  /* color:  #feffffd2; */
  border: 1px solid #feffff;
  border-radius: 2rem;
}

.showpassword {
  transition: all 0.5s ease-in-out ;
}


@media (min-width:760px) {
.authcont {
  width:35%;
}
}