.home-h-search {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, 0.914);
    border-radius: 22px;
    justify-content: space-between;
    align-items: center;
}

.home-h-search input {
    border: none;
    border-radius: 22px;
    outline: none;
    /* background-color: rgba(240, 122, 122, 0.604); */
    width: 80%;
    font-size: 15px;
    font-weight: 600;
    padding: 10px;
    /* color: rgba(150, 150, 150, 1); */
    opacity: 0.5;
    font-family: 'nunitobold';
}

.home-h-search input::placeholder {
    font-family: 'nunitobold';
}

.home-h-search button {
    /* background-color: rgba(150, 150, 250, 1); */
    color: white;
    border-radius: 50%;
    border: none;
    outline: none;
    width: 35px;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
}

@media (min-width:760px) {
    .home-h-search {
        width: 50%;
        margin: auto;
    }
}